   .btn .sapMBtnInner {
                 color: green,
                     font-family: Arial;
                     font-size: 14px;
                     background-color: pink;
                     width: 300px;
                     height: 70px;
              }